* {
    margin: 0;
}


.nav {
    border: 1px solid rgb(255, 232, 232);
    background-color: aqua;
    height: 50px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
}

.items {
    height: 20px;
    width: 35px;
    margin: 20px;
}

#items1 {
    margin-right: 80px;
}

#items8 {
    margin-left: 150px;
}

.iconsp {
    height: 100vh;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.iconchild {
    height: 100px;
    width: 100px;
    border: 1px solid rgb(235, 221, 221);
    border-radius: 5%;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    text-align: center;
    margin: 20px;
    font-size: 30px;
    background-color: rgb(31, 255, 255);
}

.abc {
    margin-top: 30px;
}

.fa-brands {
    margin-top: 30px;
}

.acb {
    border-radius: 30px;
    height: 30px;
    width: 30px;
    font-size: 50px;
    position: fixed;
    right: 30px;
    bottom: 80px;
}